@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

/*Reset
===============*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-size: 14px;
  color: #2b2d42;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  color: #2b2d42;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 40px;
  border-radius: 10px;
  background-color: #F7C840;
  display: inline-block;
  position: relative;
  z-index: 2; }
  .btn__wrapper {
    display: inline-block;
    position: relative; }
    .btn__wrapper:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #be941b;
      -webkit-box-shadow: 0 4px 15px rgba(207, 188, 18, 0.2);
      box-shadow: 0 4px 15px rgba(207, 188, 18, 0.2);
      border-radius: 10px;
      position: absolute;
      bottom: -3px;
      left: 0;
      z-index: 1;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
    .btn__wrapper:hover:before {
      left: 6px;
      bottom: -6px; }
  .btn img {
    vertical-align: middle;
    margin-right: 2px; }
  .btn_small {
    font-size: 10px;
    padding: 16px 24px; }

.title-line {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  color: #2b2d42;
  line-height: 1.1;
  text-align: center;
  position: relative;
  padding-top: 25px;
  margin-bottom: 50px; }
  .title-line:before {
    content: "";
    width: 125px;
    height: 2px;
    background-color: #7dc640;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1; }

/*============Header==============*/
.header {
  background-color: #fff;
  position: absolute;
  width: 100%; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .header__logo {
    display: block;
    width: 240px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
    -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
    background-color: #f7f7f7;
    padding: 30px 20px 30px 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: -110px; }
    .header__logo img {
      max-width: 100%; }
  .header__addres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #313131;
    line-height: 1.5;
    max-width: 315px;
    margin-right: 30px;
    margin-left: 50px; }
    .header__addres span {
      font-weight: 700; }
    .header__addres img {
      margin-right: 10px; }
  .header__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header-phone {
    margin-right: 40px; }
    .header-phone__desc {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #747474;
      line-height: 1.3;
      margin-bottom: 5px; }
    .header-phone__number {
      font-family: "Playfair Display", serif;
      font-size: 20px;
      font-weight: 700;
      color: #2b2d42;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      .header-phone__number img {
        vertical-align: middle; }
      .header-phone__number:hover {
        color: #00e676; }

/*=============Intro================*/
.intro {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(255, 255, 255, 0.2))) top left no-repeat, url("../images/intro-bg.jpg") bottom right no-repeat;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.2)) top left no-repeat, url("../images/intro-bg.jpg") bottom right no-repeat;
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.2)) top left no-repeat, url("../images/intro-bg.jpg") bottom right no-repeat;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.2)) top left no-repeat, url("../images/intro-bg.jpg") bottom right no-repeat;
  background-size: cover;
  padding-top: 290px;
  padding-bottom: 160px; }
  @media (min-width: 1170px) {
    .intro__inner {
      max-width: 65%; } }
  .intro__title {
    font-family: "Playfair Display", serif;
    font-size: 55px;
    font-weight: 700;
    color: #fff;
    line-height: 1.13;
    margin-bottom: 20px; }
  .intro__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 45px;
    max-width: 90%; }
  .intro-calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 90%;
    margin-bottom: 30px; }
    .intro-calc img {
      max-width: 105px; }
    .intro-calc__text {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      line-height: 1.4;
      margin-left: 15px; }
      .intro-calc__text span {
        font-weight: 600; }
  .intro .btn__wrapper:after {
    content: "";
    width: 101px;
    height: 73px;
    background: url("../images/line.png") center no-repeat;
    position: absolute;
    bottom: 50%;
    right: -115px;
    z-index: 1; }

/*=============/intro================*/
/*=============About============*/
.about__box {
  background-color: #eff5f7;
  -webkit-box-shadow: 0 10px 40px rgba(110, 111, 115, 0.15);
  box-shadow: 0 10px 40px rgba(110, 111, 115, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin-top: -100px; }

.about__item {
  padding: 66px 50px 25px;
  border-right: 1px solid #b4b9c0;
  position: relative; }
  .about__item:before {
    content: "";
    width: 26px;
    height: 24px;
    background: url("../images/check.svg") center/contain no-repeat;
    position: absolute;
    left: 50px;
    top: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
  .about__item:last-child {
    border-right: none; }
  .about__item:hover:before {
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15); }

.about__title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #2b2d42;
  line-height: 1.3; }

.about__info {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2b2d42;
  line-height: 1.3; }
  .about__info span {
    font-weight: 600; }

/*=============/about============*/
/*================Partner============*/
.partner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 70px;
  margin-left: -35px; }

.partner__item {
  margin-left: 35px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .partner__item img {
    max-width: 100%;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  .partner__item:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }

/*================/partner============*/
/*=============Servise===================*/
.service {
  margin-bottom: 70px; }
  .service-box {
    background-color: #eff5f7;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 40px rgba(69, 69, 71, 0.05);
    box-shadow: 0 4px 40px rgba(69, 69, 71, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
    overflow: hidden; }
    .service-box:last-child {
      margin-bottom: 0; }
    .service-box > *:first-child {
      width: 48.5%; }
    .service-box > *:last-child {
      width: 51.5%; }
    .service-box__photo img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .service-box__info {
      padding: 45px 40px 30px; }
    .service-box__title {
      font-family: "Playfair Display", serif;
      font-size: 30px;
      font-weight: 700;
      color: #2b2d42;
      line-height: 1.3;
      margin-bottom: 35px; }
    .service-box__list {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #2b2d42;
      line-height: 1.3; }
      .service-box__list span {
        font-weight: 600; }
      .service-box__list li {
        margin-bottom: 24px;
        position: relative;
        padding-left: 34px; }
        .service-box__list li:before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: #7dc640;
          border-radius: 50%;
          position: absolute;
          left: 8px;
          top: 9px;
          z-index: 1; }
        .service-box__list li:last-child {
          margin-bottom: 0; }
      .service-box__list a {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #7dc640;
        line-height: 1;
        position: relative;
        display: inline-block; }
        .service-box__list a:after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: #7dc640;
          position: absolute;
          bottom: 0px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          z-index: 1;
          -webkit-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear; }
        .service-box__list a:hover:after {
          width: 0; }

/*=============/servise===================*/
/*==============Price===============*/
.price {
  margin-bottom: 70px; }
  .price-box {
    -webkit-box-shadow: 0 10px 40px rgba(69, 69, 71, 0.05);
    box-shadow: 0 10px 40px rgba(69, 69, 71, 0.05); }
    .price-box__header {
      background-color: #7dc640; }
    .price-box__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .price-box__row:nth-child(even) {
        background-color: #eff5f7; }
      .price-box__row > *:first-child {
        width: 68%; }
      .price-box__row > *:nth-child(2), .price-box__row > *:nth-child(3) {
        width: 16%; }
    .price-box__title {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      line-height: 1.3; }
    .price-box__item {
      padding: 10px 20px 10px 20px; }
    .price-box__info {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #2b2d42;
      line-height: 1.3; }
      .price-box__info span {
        font-weight: 700; }
    .price-box__content .price-box__title {
      display: none; }
  .price__desc {
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2b2d42;
    line-height: 1.3;
    margin-top: 18px; }
  .price__btn {
    text-align: center;
    margin-top: 30px; }

/*==============/price===============*/
/*=================Steps====================*/
.step {
  background-color: #eff5f7;
  padding: 80px 0; }
  .step__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .step__info {
    width: 25%;
    padding: 10px 36px; }
  .step__title {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 400;
    color: #2b2d42;
    line-height: 1.3;
    margin-bottom: 30px; }
  .step__desc {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #666666;
    line-height: 1.3; }
    .step__desc p {
      margin-bottom: 12px; }
      .step__desc p:last-child {
        margin-bottom: 0; }
  .step-box {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 40px rgba(69, 69, 71, 0.05);
    box-shadow: 0 10px 40px rgba(69, 69, 71, 0.05); }
    .step-box__item {
      width: 33.33333%;
      padding: 30px 25px 25px;
      border-right: 1px solid #ebecec;
      border-bottom: 1px solid #ebecec;
      position: relative; }
      .step-box__item:nth-child(3n+3) {
        border-right: none; }
      .step-box__item:hover .step-box__number {
        -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1); }
    .step-box__number {
      position: absolute;
      right: 13px;
      top: 16px;
      z-index: 1;
      width: 31px;
      height: 31px;
      border: 1px solid #7dc640;
      border-radius: 50%;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 700;
      color: #7dc640;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
    .step-box__icon {
      width: 53px;
      height: 57px; }
      .step-box__icon img {
        max-width: 100%; }
    .step-box__title {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 700;
      color: #2b2d42;
      line-height: 1.3;
      margin: 12px 0 7px; }
      .step-box__title span {
        white-space: nowrap; }
    .step-box__text {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #666666;
      line-height: 1.3; }
  .step_reason .step-box__title {
    text-transform: uppercase; }

/*=================/steps====================*/
/*=================Example====================*/
.example {
  padding: 60px 0;
  overflow: hidden; }
  .example__inner {
    position: relative; }
  .example__arrow {
    width: 78px;
    height: 78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #eff5f7;
    border: 2px solid #eff5f7;
    border-radius: 50%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 60px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20; }
    .example__arrow_prev {
      left: -120px;
      -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg); }
    .example__arrow_next {
      right: -120px; }
    .example__arrow img {
      max-width: 50%; }
    .example__arrow:hover {
      background-color: #fff;
      border-color: #7dc640; }
  .example__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px; }
  .example__slide {
    /*width: calc(25% - 25px);*/
    border-radius: 10px;
    overflow: hidden; }
    .example__slide img {
      max-width: 100%;
      -webkit-box-shadow: 0 10px 40px rgba(69, 69, 71, 0.05);
      box-shadow: 0 10px 40px rgba(69, 69, 71, 0.05); }
  .example .slick-track {
    margin-left: -25px; }
  .example .slick-slide {
    margin-left: 25px; }
  .example .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -10px; }
    .example .slick-dots button {
      font-size: 0;
      color: transparent;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-color: #eff5f7; }
    .example .slick-dots li {
      margin-right: 17px; }
      .example .slick-dots li:last-child {
        margin-right: 0; }
  .example .slick-active button {
    background-color: #7dc640; }

/*=================/example====================*/
/*=================Additionally====================*/
.additionally {
  padding: 70px 0 95px; }
  .additionally__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-bottom: -35px; }
    .additionally__inner > * {
      width: calc(33.33333% - 25px);
      margin-left: 25px;
      margin-bottom: 35px; }
  .additionally__item {
    background-color: #eff5f7;
    border-radius: 10px;
    overflow: hidden; }
  .additionally__photo img {
    width: 100%;
    height: 183px;
    -o-object-fit: cover;
    object-fit: cover; }
  .additionally__name {
    padding: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2b2d42; }

/*=================/additionally====================*/
/*=================Addres====================*/
.addres {
  background-color: #eff5f7;
  padding: 50px 0 80px; }
  .addres__inner {
    position: relative; }
  .addres__map {
    text-align: right; }
    .addres__map img {
      max-width: 92%; }
  .addres-card {
    width: 48%;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 20;
    padding: 12px;
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 15px rgba(154, 154, 154, 0.2);
    box-shadow: 0 6px 15px rgba(154, 154, 154, 0.2);
    background-color: #fff; }
    .addres-card__box {
      padding: 20px;
      border-radius: 8px;
      border: 1px dashed #e2e2e2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .addres-card__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
      flex: 0 0 28%; }
      .addres-card__logo img {
        max-width: 100%; }
    .addres-card__addres {
      padding-left: 25px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 72%;
      flex: 0 0 72%; }
    .addres-card__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 14px; }
      .addres-card__item:last-child {
        margin-bottom: 0; }
      .addres-card__item a {
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
        .addres-card__item a:hover {
          color: #dd1c33; }
    .addres-card__icon {
      padding-top: 4px; }
    .addres-card__info {
      margin-left: 8px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #27283c;
      line-height: 1.3; }
      .addres-card__info span {
        font-weight: 700; }
    .addres-card .btn__wrapper {
      width: 100%;
      margin-top: 18px; }
    .addres-card .btn {
      width: 100%; }

/*=================/addres====================*/
/*===================Footer==============*/
.footer {
  background-color: #373d44;
  padding: 40px 0; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__copyright {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    line-height: 1.3; }
  .footer__link {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    line-height: 1.3;
    text-decoration: underline;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .footer__link:hover {
      text-decoration: none; }

/*===================/footer==============*/
/*================Adaptive=================*/
@media (max-width: 1500px) {
  .example__inner {
    padding: 0 60px; }
  .example__arrow {
    width: 40px;
    height: 40px; }
    .example__arrow_prev {
      left: 0; }
    .example__arrow_next {
      right: 0; }
  .example .slick-dots button {
    width: 15px;
    height: 15px; }
  .step__title {
    font-size: 40px; } }

@media (max-width: 1170px) {
  .header__addres {
    margin-left: 25px; }
  .header-phone {
    margin-right: 30px; }
  .intro__subtitle, .intro-calc {
    max-width: 75%; } }

@media (max-width: 992px) {
  .container {
    max-width: 95%; }
  .header {
    position: static; }
    .header__nav, .header__contact, .header__call {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin-bottom: 0;
      height: auto;
      padding: 25px 20px 25px 35px; }
    .header__contact {
      padding: 20px 0; }
    .header__addres {
      margin: 0 0 20px; }
    .header-phone {
      margin: 0 0 20px; }
      .header-phone__desc {
        text-align: center; }
  .intro {
    padding-top: 100px; }
  .about__box {
    display: block;
    padding: 20px 50px 20px; }
  .about__item {
    border-right: none;
    border-bottom: 1px solid #b4b9c0;
    padding: 66px 0 30px; }
    .about__item:last-child {
      border-bottom: none; }
    .about__item:before {
      left: 0; }
  .service-box {
    display: block; }
    .service-box > *:first-child, .service-box > *:last-child {
      width: 100%; }
    .service-box__photo img {
      border-radius: 15px; }
  .step__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .step__info {
    width: 100%;
    padding: 0 0 30px 25px; }
  .step-box {
    width: 100%; }
  .step_reason .step__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .addres-card {
    position: relative;
    margin-top: -40px;
    top: 40px;
    width: 92%; } }

@media (max-width: 768px) {
  .intro__title {
    font-size: 45px; }
  .price-box__row > *:first-child {
    width: 50%; }
  .price-box__row > *:nth-child(2), .price-box__row > *:nth-child(3) {
    width: 25%; }
  .step {
    padding: 50px 0; }
    .step-box__item {
      width: 50%; }
      .step-box__item:nth-child(odd) {
        border-right: 1px solid #ebecec; }
      .step-box__item:nth-child(even) {
        border-right: none; }
  .example {
    padding: 40px 0; }
    .example .slick-dots {
      margin-left: 0; }
    .example .slick-track {
      margin-left: -15px; }
    .example .slick-slide {
      margin-left: 15px; }
  .additionally {
    padding: 50px 0; }
    .additionally__inner > * {
      width: calc(50% - 25px); } }

@media (max-width: 765px) {
  .container {
    max-width: 100%; }
  .btn {
    font-size: 13px;
    padding: 20px 25px; }
    .btn_small {
      font-size: 10px;
      padding: 16px 24px; }
  .title-line {
    font-size: 30px; }
    .title-line:before {
      width: 70px; }
  .intro__title {
    font-size: 30px; }
  .intro__subtitle, .intro-calc {
    max-width: 100%;
    font-size: 16px; }
  .intro-calc__text {
    font-size: 14px; }
  .intro .btn__wrapper:after {
    display: none; }
  .partner__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0; }
  .partner__item {
    margin-bottom: 35px;
    margin-left: 0; }
    .partner__item:last-child {
      margin-bottom: 0; }
  .step__title {
    font-size: 30px;
    margin-bottom: 15px; }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__copyright {
    margin-bottom: 15px;
    text-align: center; } }

@media (max-width: 546px) {
  .title-line {
    margin-bottom: 30px;
    padding-top: 15px; }
  .service-box {
    margin-bottom: 40px; }
    .service-box__title {
      font-size: 24px; }
    .service-box__list {
      font-size: 16px; }
      .service-box__list a {
        font-size: 16px; }
  .price-box__header {
    display: none; }
  .price-box__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0; }
    .price-box__row > *:first-child, .price-box__row > *:nth-child(2), .price-box__row > *:nth-child(3) {
      width: 100%; }
  .price-box__item {
    padding: 5px 10px; }
  .price-box__content .price-box__title {
    display: block;
    color: #7dc640;
    margin-bottom: 5px; }
  .price__desc {
    padding-left: 10px;
    font-size: 14px; }
  .step-box__item {
    width: 100%; }
    .step-box__item:nth-child(odd), .step-box__item:nth-child(even) {
      border-right: none; }
    .step-box__item:last-child {
      border-bottom: none; }
  .additionally {
    padding: 50px 0; }
    .additionally__inner {
      margin-left: 0; }
      .additionally__inner > * {
        width: 100%;
        margin-left: 0; }
    .additionally__name {
      font-size: 16px; } }

@media (max-width: 414px) {
  .about__box {
    padding: 20px 25px; }
  .partner__item {
    max-width: 65%; }
  .service-box__info {
    padding: 30px 25px; }
  .service-box__list li {
    padding-left: 20px; }
    .service-box__list li:before {
      width: 7px;
      height: 7px;
      left: 5px; }
  .price-box__title {
    font-size: 14px; }
  .price-box__info {
    font-size: 16px; }
  .addres-card {
    margin-top: -20px;
    top: 20px;
    width: 95%; }
  .addres__map img {
    max-width: 95%; } }

@media (max-width: 375px) {
  .btn {
    font-size: 10px; }
  .addres-card__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-bottom: 15px; }
  .addres-card__addres {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-left: 0; } }
